body {
  text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

.article {
	width: 42%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 5%;
	margin-bottom: 5px;
	float: left;
}

.article-inner {
	color: white;
	background-color: rgba(0,0,0,0.5); 
	text-align: left;
	width: 98%;
	padding: 1%;
}